<Files .htaccess>
Order Allow,Deny
Deny From All
</Files>

Options All -Indexes

Options +FollowSymLinks
RewriteEngine On
RewriteRule ^notacion-de-puntos-y-corchetes/?$ cont/lesson001_notacion_puntos_corchetes.html [L]
RewriteRule ^funciones/?$ cont/lesson002_funciones.html [L]
RewriteRule ^metodos-y-objeto-this/?$ cont/lesson003_metodos_y_this.html [L]
RewriteRule ^palabra-reservada-new/?$ cont/lesson004_palabra_reservada_new.html [L]
RewriteRule ^js-game/?$ cont/lesson005_js_game.html [L]
RewriteRule ^prototipos/?$ cont/lesson006_prototipos.html [L]
RewriteRule ^funciones-anonimas/?$ cont/lesson007_funciones_anonimas.html [L]
RewriteRule ^funciones-typeof-e-instanceof/?$ cont/lesson008_funciones_typeof_instanceof.html [L]
RewriteRule ^arreglos/?$ cont/lesson009_arreglos.html [L]
RewriteRule ^argumentos/?$ cont/lesson010_argumentos.html [L]
RewriteRule ^sobrecarga-de-operadores/?$ cont/lesson011_sobrecarga_operadores.html [L]
RewriteRule ^polimorfismo/?$ cont/lesson012_polimorfismo.html [L]
RewriteRule ^cuidado-con-funciones-contexto/?$ cont/lesson013_cuidado_funciones.html [L]
RewriteRule ^objeto-numero/?$ cont/lesson014_objeto_numero.html [L]
RewriteRule ^objeto-booleano/?$ cont/lesson015_objeto_booleano.html [L]
RewriteRule ^objeto-string/?$ cont/lesson016_objeto_string.html [L]
#RewriteRule ^Clientes/?$ content/clientes.php [L]
#RewriteRule ^([a-z0-9/]+)$ index.php?view=$1